<h3>ng-template with ngSwitch</h3>
<input type="radio" id="rdb1" name="course" (click)="Course = 'Angular'" />
<label for="rdb1">Angular Course</label>

<input type="radio" id="rdb2" name="course" (click)="Course = 'React'" />
<label for="rdb2">React JS Course</label>

<input type="radio" id="rdb3" name="course" (click)="Course = 'Vue'" />
<label for="rdb3">Vue JS Course</label>

<input type="radio" id="rdb4" name="course" (click)="Course = 'Node'" />
<label for="rdb4">Node JS Course</label>

<input type="radio" id="rdb4" name="course" (click)="Course = 'Javascript'" />
<label for="rdb4">Javascript Course</label>

<div [ngSwitch]="Course">
  <p *ngSwitchCase="'Angular'">Angular Course</p>
  <p *ngSwitchCase="'React'">React JS Course</p>
  <p *ngSwitchCase="'Vue'">Vue JS Course</p>
  <p *ngSwitchCase="'Node'">Node JS Course</p>
  <p *ngSwitchCase="'Javascript'">Javascript Course</p>
  <p *ngSwitchDefault>No Course Selected</p>
</div>


<div [ngSwitch]="Course">
<ng-template [ngSwitchCase]="'Angular'"><p>Angular Course</p></ng-template>
<ng-template [ngSwitchCase]="'React JS'"><p>React JS Course</p></ng-template>
<ng-template [ngSwitchCase]="'Node JS'"><p>Node JS Course</p></ng-template>
<ng-template [ngSwitchCase]="'Vue JS'"><p>Vue JS Course</p></ng-template>
<ng-template ngSwitchDefault><p>No Course Selected</p></ng-template>
</div>